.container {
	position: relative;
}

#popup-message {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #f1f1f1;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	white-space: nowrap;
	display: none;
}

#popup-message.active {
	display: block;
}